html {
    font: 20px "Fira Sans",sans-serif;
}

* {
    font-size: 1rem;
}

body h1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

a {
    font-variant: small-caps;
    text-decoration: none;
}

/* Transactions: {{{ ************************************************/
.under {
    color: red;
}

.over {
    color: green;
}

.same {
    color: gray;
}
/* }}} **************************************************************/
/* Site: {{{ ********************************************************/
#sitenav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#sitenav a {
    display: inline-block;
    font-size: 1.3rem;
}

#sitenav a + a {
    padding-left: 10px;
    border-left: 1px solid black;
    margin-left: 10px;
}

#site {
    max-width: 30rem;
    margin: auto;
}

/* }}} **************************************************************/
/* Login Form: {{{ **************************************************/
#loginForm {
    max-width: 15rem;
    margin: auto;
}

/* Color is from error boxes here.
 *<https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment>
 */
#loginForm #failMessage {
    color: hsl(0, 80%, 50%);
    display: block;
    width: 100%;
    border: 1px solid hsl(0, 80%, 90%);
    padding: .5rem;
    margin-top: 1rem;
    box-sizing: border-box;
    text-align: center;
}

#loginForm input {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

/* Source:
 *<https://account.genndi.com/login>
 */
#loginForm button {
    width: 100%;
    background-color: #1f1f1f;
    border: none;
    color: white;
    padding: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
}

#loginForm label {
    font-size: .8rem;
}

/* }}} **************************************************************/
/* Sign Up Form: {{{ **************************************************/
#signUpForm #failMessage {
    color: red;
    display: block;
}

#signUpForm input {
    display: block;
}

/* }}} **************************************************************/
