body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

/* Transactions: {{{ ************************************************/
.under {
    color: red;
}

.over {
    color: green;
}

.same {
    color: gray;
}
/* }}} **************************************************************/
/* Site: {{{ ********************************************************/
#sitenav a {
    float: right;
}

#sitenav a + a {
    margin-right: 20px;
}

#site {
  padding-top: 30px;
}
/* }}} **************************************************************/
/* Login Form: {{{ **************************************************/
#loginForm #failMessage {
    color: red;
    display: block;
}

#loginForm input {
    display: block;
}
/* }}} **************************************************************/
