body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.under {
    color: red;
}

.over {
    color: green;
}

.same {
    color: gray;
}

#sitenav a {
    float: right;
}

#sitenav a + a {
    margin-right: 20px;
}

#site {
  padding-top: 30px;
}
